@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;600;700;800&display=swap');

@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#ffffff;

color:#212529;

overflow-x:hidden;

}

h1,h2,h3,h4,h5,h6{

font-family:'Poppins',sans-serif;

}

.container-custom{

max-width:1280px;

margin:auto;

padding-left:24px;

padding-right:24px;

}

.section{

padding-top:100px;

padding-bottom:100px;

}

.primary-btn{

background:#0F5132;

color:white;

padding:14px 32px;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.primary-btn:hover{

background:#198754;

transform:translateY(-2px);

}

.secondary-btn{

border:2px solid #0F5132;

padding:14px 32px;

border-radius:12px;

font-weight:600;

transition:.3s;

color:#0F5132;

}

.secondary-btn:hover{

background:#0F5132;

color:white;

}

.card{

background:white;

border-radius:20px;

box-shadow:0 10px 35px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.gradient{

background:linear-gradient(135deg,#ffffff,#D1E7DD);

}

.title{

font-size:52px;

font-weight:800;

line-height:1.1;

}

.subtitle{

font-size:18px;

color:#6C757D;

margin-top:20px;

line-height:1.8;

}

@media(max-width:768px){

.title{

font-size:38px;

}

.subtitle{

font-size:16px;

}

.section{

padding-top:70px;

padding-bottom:70px;

}

}